figure.image {
    display: flex;
    justify-content: center;
    background-color: black;
}

figure.image img {
    width: 100px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    height: 50px;
}
.dropdown-item img { 
    height: 40px;
    margin-right: 10px;

}